.metadata

boot-resource-server/.classpath
boot-resource-server/.project
boot-resource-server/.settings
boot-resource-server/target

boot-client-oaut-app/.classpath
boot-client-oaut-app/.project
boot-client-oaut-app/.settings
boot-client-oaut-app/target
